html{height:100%;font-size:14px}
body{position:relative;padding:0;margin:0;width:100%;overflow-x:hidden;font-family:"微软雅黑",Arial,Helvetica,sans-serif}
.main{position:relative;width:1210px;margin:0 auto;z-index:0;}

.hea-all{position: relative;width:100%;height: 612px;background:#222c2f url('../img/hea_bg.jpg') top center no-repeat;overflow: hidden;}
.hea-logo{position: absolute;width: 115px;height: 67px;top: 37px;left: 62px;background:url('../img/head.png') left top no-repeat;}
.hea-dd{position: absolute;width: 16px;height: 90px;top: 67px;right: 64px;background:url('../img/head.png') -300px top no-repeat;display:none;}
.hea-tit1{position: absolute;width: 190px;height: 47px;top: 230px;left: 62px;background:url('../img/head.png') left -100px no-repeat;display:none;}
.hea-tit2{position: absolute;width: 496px;height: 120px;top: 307px;left: 62px;background:url('../img/head.png') left -200px no-repeat;display:none;}
.hea-tit3{position: absolute;width: 205px;height: 20px;top: 528px;left: 62px;background:url('../img/head.png') left -350px no-repeat;display:none;}
.hea-tit4{position: absolute;width: 80px;height: 18px;top: 528px;right: 70px;background:url('../img/head.png') left -400px no-repeat;display:none;}
.hea-dh{position: absolute;height: 25px;width: 100px;top:65px;right:40px;}
.hea-a{position:absolute;font-size:14px;color:#fff;font-weight:bold;line-height:25px;text-decoration:none}
.hea-a1{left: 0;}
.hea-a2{right: 0;}
.hea-lin{position:absolute;top:5px;left: 35px;height: 15px;width: 2px;background-color: #fff;}

.jj-all{position: relative;width:100%;height:440px;padding:50px 60px;box-sizing:border-box;display:flex;font-size:14px;color:#727171;line-height:25px;overflow: hidden;}
.jj-one{position: relative;width:50%;}


.bm-all{position: relative;width:100%;height:425px;padding:30px 60px;box-sizing:border-box;background-color: #6638e8;overflow: hidden;}
.bm-one{position: relative;width:50%;color:#c9caca;}
.bm-img{position: absolute;width:50%;height:100%;top:0;right:0;display:block;background-color: #ccc;}
.bm-btit{display: block;font-size:18px;line-height:40px;font-weight: bold;}
.bm-bcon{display: block;font-size:14px;line-height:20px;}
.bm-line{width: 23px;height: 4px;margin:18px 0;background-color: #fff;}

.kc-all{position: relative;width:100%;height:335px;display:flex;flex-direction:column;background-color: #efefef;overflow: hidden;}
.kc-class{position: relative;display:inline-block;margin:30px auto 0;font-size:45px;font-weight:bold;color:#6638e8;line-height:50px;}
.kc-tit{position: relative;display:inline-block;margin:0 auto;font-size:18px;color:#000;line-height:22px;}
.kc-renz{position: relative;display:inline-block;margin:40px auto 0;font-size:14px;color:#000;line-height:35px;}
.kc-feiy{position: relative;width:800px;display:inline-block;margin:0 auto;font-size:16px;color:#fff;text-align:center;line-height:35px;background-color:#6638E8;}
.kc-feiy samp{font-weight: bold;font-size:20px;margin: 0 10px;}
.kc-con{position: relative;display:inline-block;margin:10px auto;font-size:14px;text-align:center;color:#727171;line-height:25px;}

.zs-all{position: relative;width:100%;height:500px;overflow: hidden;}
.zs-onel{position: absolute;width:50%;height:100%;padding:60px;box-sizing:border-box;color:#6638E8;background-color: #fff;overflow: hidden;}
.zs-oner{position: absolute;width:50%;height:100%;right:0;padding:60px;box-sizing:border-box;color:#c9caca;background-color: #6638e8;overflow: hidden;}
.zs-o-tit{position: relative;font-size:16px;line-height:25px;}
.zs-o-jg{position: relative;font-size:16px;line-height:100px;margin:35px 0;}
.zs-o-jg samp{font-weight: bold;font-size:100px;margin: 0 10px 0 0;}
.zs-o-con{position: relative;width: 100%;height: 140px;display:flex;font-size:13px;line-height:25px;}
.zs-o-co{position: relative;width: 50%;height:100px;}
.zs-o-img{position: absolute;top: 60px;right: 60px;}

.xm-all{position: relative;width:100%;height:870px;display:flex;flex-wrap:wrap;justify-content:space-around;padding:60px;box-sizing:border-box;background-color: #efefef;overflow: hidden;}
.xm-one{position: relative;width:280px;height:210px;margin-bottom:60px;color:#727171;overflow: hidden;cursor:pointer;}
.xm-one:hover .xm-o-tc{color: #fff;background-color: #6638e8;}
.xm-o-i{position: relative;width: 160px;height: 110px;margin:0 auto;background:url('../img/ll_typ.png') left top no-repeat;}
.xm-o-tt{position: relative;width:100%;margin-top:10px;display:inline-block;font-size:16px;font-weight:bold;text-align:center;color:#231815;line-height:30px;}
.xm-o-tc{position: relative;width:60px;margin:10px auto 0;font-size:12px;text-align:center;line-height:22px;border:1px solid currentcolor;}



.fl-all{position: relative;width:100%;height:320px;background-color: #231815;overflow: hidden;}
.fl-img{position: absolute;width:50%;height:100%;top:0;left:0;display:block;background-color: #ccc;}
.fl-oner{position: absolute;width:425px;height:180px;top:50px;right:90px;font-size:14px;color:#c9caca;line-height:22px;}
.fl-oner samp{font-size:20px;line-height: 40px;}

.lx-all{position: relative;width:100%;height:300px;display:flex;padding:40px 65px;box-sizing:border-box;background-color: #6638e8;overflow: hidden;}
.lx-one{position: relative;width:50%;color:#c9caca;}
.lx-o-er{display: block;margin-bottom: 10px;margin-top: 10px;}
.lx-o-t1{font-size: 14px;line-height: 25px;margin-bottom: 12px;}
.lx-o-t2{font-size: 22px;line-height: 25px;}
.lx-o-t3{font-size: 18px;line-height: 25px;}
.lx-o-t4{font-size: 30px;line-height: 40px;}


.anim{opacity:0;top:50px}
